.treepic {
  height: 365px;
  opacity: 0.5;
  left: 44%;
  top: 50%;
}

.countrysidepic {
  height: 365px;
  opacity: 0.5;
  left: 18%;
  top: 13%;
}

.deuxdiv {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.entirecode {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  height: 70vh;
}

.homepagebanner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barrebanner {
  border-left: 0.1px;
  border-style: solid;
  height: 200px;
}

.alldetails > h1 {
  margin: 0;
  color: white;
  text-align: right;
}

.fullstack > h2 {
  margin:0;
  color: black;
  text-align: left;
}
