.flip-card-abb {
    background-color: transparent;
    height: 38%;
    width: 485px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner-abb {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .background-reverse-abb {
    background-image: url('../images/fasttrackhomepage.png');
    background-size: cover; /* or contain depending on what you want */
    background-position: center;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-abb:hover .flip-card-inner-abb {
    transform: rotateY(180deg);
    height: 100%;
    width: 485px;
    height: 250px;
  }
  
  /* Position the front and back side */
  .flip-card-front-abb, .flip-card-back-abb {
    position: absolute;
    width: 485px;
    height: 250px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-abb {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back-abb {
    background-color: #383838;
    opacity: 0.7;
    color: black;
    transform: rotateY(180deg);
  }
  
  .flip-card-back-details-abb{
    color: white;
  }