.myprojectsbanner {
    height: 100vh;
  }

.fasttrackpic {
  height: 100%;
}



.artbnbpic {
  height: 100%;
}

.entirecodemyprojects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}

.theworks {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.headermyprojects{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 0px;
}





