.myprojectsbanner {
    height: 100vh;
  }

.fasttrackpic {
  height: 250px;
}



.artbnbpic {
  height: 250px;
}

.entirecodemyprojects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.theworks {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.headermyprojects{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px;
}


.flip-card {
  background-color: transparent;
  height: 38%;
  width: 485px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  height: 400px;
  width: 485px;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 485px;
  height: 250px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}