@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  font-family: "Lora", serif;
}

li {
  font-size: larger;
}

.backgroundimg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.column-two {
  margin-right: 7%;
  margin-left: 7%;
  height: 100vh;
}